.card {
  max-width: 413px;
}

.card__img {
  object-fit: cover;
  height: 413px;
  width: 413px;
  border-radius: 2%;
}

@media screen and (max-width: 627px) {
  .card__img {
    width: 288px;
    height: 288px;
  }
}

.card__footer {
  justify-content: space-between;
  display: flex;
}

.card__caption {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 210px;
}
