.card {
  max-width: 413px;
}

.card__img {
  object-fit: cover;
  height: 413px;
  width: 413px;
  border-radius: 8px;
}

.card__footer {
  justify-content: space-between;
  display: flex;
  margin-top: 12px;
  flex-direction: row;
  align-items: center;
}

.card__caption {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 350px;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
}

@media screen and (max-width: 627px) {
  .card__img {
    width: 288px;
    height: 288px;
  }

  .card {
    max-width: 288px;
  }
}

@media screen and (max-width: 375px) {
  .card__img {
    width: 288px;
    height: 288px;
  }

  .card__caption {
    max-width: 260px;
    font-size: 16px;
    line-height: 100%;
  }
}
